.signUp {
  width: 640px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: $white;
  border-radius: 2px;
  font-family: 'Signika', sans-serif;
  font-weight: lighter;
}
