.article__header
    margin-bottom: 200px;

//Poster of the movie used in this article
.article__headerImg
    width 300px 
    float left
    padding-left 20px
    padding-right 20px

//Title of the article
.article__headerTitle
    padding-right 20px

    font-size 48px
    font-family 'bebas'
    font-style uppercase

//Author style
.article__author
    padding 10px
    margin-top 15px
    margin-bottom 15px
    display flex
    align-items center

.article__authorAvatar
    display inline-block
    padding 10px
    width 40px
    height 40px

    border-radius 50%

    background $red

.article__authorName

    font-family 'Signika'
    font-weight lighter 
    font-size 22px


//Popularity bar style
.article__popularityBar
    margin-top 5px
    width 200px
    height 20px
    background #8DDFB3
    

.article__popularity
    display inline-block

    font-family 'Signika'

    color #41b628
    font-size 22px
    text-align left

.article__popularityBarFill
    width 50%
    height 100%

    background $green

//Credibility Bar style
.article__credibilityBar
    margin-top 5px
    float left
    width 200px
    height 20px
    background #F68E96 

.article__credibility
    margin-right 10px
    display inline-block
    width 200px

    font-family 'Signika'

    color #d11b28
    font-size 22px
    text-align left

.article__credibilityBarFill
    width 50%
    height 100%

    background $red