.header__start
    display flex
    justify-content flex-start

.header__end
    display flex
    justify-content flex-end

.header__menu
    width 280px
    margin-left 96px
    margin-right 56px
    display inline-block
    float left

    text-align center

.header__timeline
    display flex
    align-items center
    justify-content center
    float left
    width 130px
    height 40px
    // margin-left 96px

    color #fff
    font-size 16px
    vertical-align middle
    &:hover
        transform scale(1.02)
    &:active
        transform scale(0.98)

.header__timeline--active
    border 1px solid #fff

.header__theories
    margin-left 20px
    display flex
    float left
    align-items center
    justify-content center
    width 130px
    height 40px

    background-color $red

    color #fff
    font-size 16px
    vertical-align middle
    &:hover
        transform scale(1.02)
    &:active
        transform scale(0.98)

.header__addTheories
    margin-right 60px
    display flex
    float left
    align-items center
    justify-content center
    width 130px
    height 40px

    background-color $red

    color #fff
    font-size 16px
    vertical-align middle
    &:hover
        transform scale(1.02)
    &:active
        transform scale(0.98)


.header__theories--active
    border 1px solid #fff

.header__icon
    width 21px
    height 21px

.header__iconUse
    fill $white