.signUp__connexion
    width: 150px;
    float right
    display block
    margin-top: 40px;
    font-family bebas
    font-weight: bold;
    text-align: center;
    color: $greyfont;
    padding: 20px;
    // border-radius: 30px;
    border solid 1px $greyfont
    cursor: pointer;
    // box-shadow: 0px 8px 20px rgba(237, 27, 42, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
    &:hover 
        background-color #FFFFFF
        border solid 1px $red

        color $red

        box-shadow 0px 15px 15px 4px rgba(0, 0, 0, 0.1)
        transform translateY(-7px)
    &:active
        margin-bottom 0px
        background-color $red
        color #FFFFFF

        border none

        transform translateY(0px)
        box-shadow 0px 8px 20px rgba(57, 151, 214, 0.1)

.signIn
    padding-top 10px
    color white
    width 640px
    margin 0 auto

.signIn__message
    font-family 'Signika'
    float right


.signIn__message p 
    color $white
    float left
    margin-right 10px

.signIn__message a
    padding-top 3px
    padding-bottom 6px
    padding-left 10px
    padding-right 10px
    border 1px solid $white