.signUp__label
    margin-top 10px
    margin-bottom 8px
    display block

    font-size 16px

    color $label

.signUp__input
    width 100%
    height 30px !important  
    padding-left 5px

    border 1px solid $input
    border-radius 2px



.signUp__password
    margin-right 4%
    float left
    width 48%

.signUp__confirmPassword
    width 48%
    display inline-block

.signUp__error
    font-family 'Signika'
    padding-top 2px
    height 20px
    color $red

.signUp__line   
    width 100%
    height 1px
    margin-top 20px

    background-color $input

.signUp__avatar
    margin-top 10px
    margin-left 13px
    margin-right 13px
    display inline-block
    width 60px
    height 60px
    overflow hidden

.signUp__avatar:nth-child(6)
    margin-left 60px

.signUp__avatarImg
    width 100%
    height 100%

    border-radius 50%

    filter: grayscale(100%)
    cursor pointer

    transition filter 300ms ease

.signUp__radio:checked + .signUp__avatarImg
    filter: grayscale(0%)
