.theoriesFlow__container
    align-items center
    width 75%
    min-width 900px
    height 330px
    margin 20px auto;
    overflow hidden
    padding 20px

    border-radius: 4px;
    
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.30);
    background #fff

    color #000

//User Avatar and Nickname
.theoriesFlow__user
    display: flex;
    width 40%
    margin-bottom 10px
    align-items: center;

    text-align left

.theoriesFlow__userAvatar
    display inline-block
    width 50px
    height 50px

    border-radius 50%

    background $red

.theoriesFlow__userName
    display inline-block
    margin-left 2%

    font-size 22px

//Movie poster
.theoriesFlow__poster
    float left
    margin-top 10px
    margin-right 20px

//Every note of the theory (Popularity and Credibility bar)
.theoriesFlow__notes
    display flex
    margin-top 40px;

.theoriesFlow__popularity
    display inline-block
    width 200px
    height 30px
    margin-left 2%
    margin-right 7%
    margin-bottom 10px

    color #41b628
    font-size 22px
    text-align left

.theoriesFlow__popularityBar
    width 100%
    height 100%
    margin-top 5px

    background #41b628

.theoriesFlow__popularityBarFill
    width 50%
    height 100%

    background #50e72f

.theoriesFlow__credibility
    display inline-block
    width 200px
    height 30px
    margin-bottom 10px
    margin-left 0.5%
    margin-right 7%

    color #d11b28
    font-size 22px
    text-align left

.theoriesFlow__credibilityBar
    width 100%
    height 100%
    margin-top 5px

    background #d11b28

.theoriesFlow__credibilityBarFill
    width 50%
    height 100%

    background $red