.timeline
    display inline-flex 
    align-items center
    width auto
    // height 700px
    height 90vh
    min-height 600px
    margin-top 80px
    margin-left -20px
    transform skew(-10deg)
    padding-right 40px
    padding-left 40px

    // border 1px solid #000000
    border-radius: 2px;
    
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.30);
    background #ffffff
    