.article__userComments {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.article__userComments--active {
  padding: 10px;
  opacity: 1;
  visibility: visible;
  width: 350px;
  max-height: 500px;
  overflow-y: scroll;
  background: #fff;
  position: absolute;
  left: 40px;
  right: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
}
.article__userCommentsAuthor {
  display: inline-flex;
  align-items: center;
}
.article__userCommentsAuthor--avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $red;
}
.article__userCommentsAuthor--avatarImg {
  width: 100%;
}
.article__userCommentsAuthor--name {
  font-size: 16px;
  font-family: 'bebas';
  display: inline-block;
  padding: 5px;
}
.article__userCommentsContent {
  font-size: 16px;
  font-family: 'Signika';
  padding-bottom: 5px;
}
