.theoriesFlow__container {
  align-items: center;
  width: 75%;
  min-width: 900px;
  margin: 20px auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,0.3);
  background: #fff;
  color: #000;
  transition: transform 150ms ease;
  cursor: pointer;
}
.theoriesFlow__container:hover {
  transform: scale(1.02);
}
.theoriesFlow__container:active {
  transform: scale(0.99);
}
.theoriesFlow__user {
  display: flex;
  width: 40%;
  margin-bottom: 10px;
  align-items: center;
  text-align: left;
}
.theoriesFlow__userAvatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $red;
}
.theoriesFlow__userName {
  display: inline-block;
  margin-left: 2%;
  font-family: 'Signika';
  color: $greyfont;
  font-size: 18px;
}
.theoriesFlow__poster {
  height: 180px;
  float: left;
  margin-right: 20px;
}
.theoriesFlow__notes {
  margin-top: 37px;
}
.theoriesFlow__credibilityBar {
  margin-top: 5px;
  float: left;
  width: 200px;
  height: 20px;
  background: #f68e96;
}
.theoriesFlow__popularityBar {
  margin-top: 5px;
  width: 200px;
  height: 20px;
  background: #8ddfb3;
}
.theoriesFlow__popularity {
  display: inline-block;
  font-family: 'Signika';
  color: #41b628;
  font-size: 22px;
  text-align: left;
}
.theoriesFlow__popularityBarFill {
  width: 50%;
  height: 100%;
  background: $green;
}
.theoriesFlow__credibility {
  margin-right: 10px;
  display: inline-block;
  width: 200px;
  font-family: 'Signika';
  color: #d11b28;
  font-size: 22px;
  text-align: left;
}
.theoriesFlow__credibilityBarFill {
  width: 50%;
  height: 100%;
  background: $red;
}
