.timeline__hover {
  display: inline-block;
  width: 100%;
  height: 100px;
  transform: scaleY(0);
  background: #fff;
  text-align: center;
}
.timeline__hover {
  transform: translateY(0px);
}
.timeline__hover--bottom {
  transform: translateY(-250px);
}
.timeline__hoverButton {
  display: inline-flex;
  width: 100px;
  height: 50px;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: $red;
  color: #fff;
}
.timeline__hoverBackground {
  background: #fff;
}
.timeline__poster--bottom:hover .timeline__hover--bottom {
  transform: translateY(0px);
}
.timeline__poster--top:hover .timeline__hover--top {
  transform: translateY(-230px);
}
