// TOOLS
@import "tools/fonts.styl"
@import "tools/colors.styl"
@import "tools/reset.styl"

// BASE
@import "base/styles.styl"

// LAYOUTS
@import "layouts/timeline.styl"
@import "layouts/background.styl"
@import "layouts/header.styl"
@import "layouts/signUp.styl"
@import "layouts/theoriesFlow.styl"
@import "layouts/theoryCreation.styl"

// ELEMENTS
//Header
@import "elements/header__logo.styl"
@import "elements/header__menu.styl"
@import "elements/header__account.styl"

//Sign up
@import "elements/signUp__title.styl"
@import "elements/signUp__form.styl"
@import "elements/signUp__button.styl"
@import "elements/signIn__signUp.styl"
@import "elements/signIn__button.styl"

//Timeline
@import "elements/timeline__dots.styl"
@import "elements/timeline__redLine.styl"
@import "elements/timeline__preview.styl"
@import "elements/timeline__hover.styl"

//Theory Flow
@import "elements/theoriesFlow__container.styl"
@import "elements/theoriesFlow__titles.styl"

//Theory Creation
@import "elements/theoryCreation__poster.styl"
@import "elements/theoryCreation__chooseMovie.styl"
@import "elements/theoryCreation__addText.styl"

// STATES
@import "states/signUp__radio--hidden.styl"