@font-face {
  font-family: "bebas";
  src: url("../../../assets/fonts/BEBAS.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=color],
input[type=file],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=color] {
  width: 1em;
}
input::-ms-clear {
  display: none;
}
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
mark {
  background: none;
}
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
u {
  text-decoration: none;
}
table th {
  text-align: left;
}
a {
  color: inherit;
  outline: none;
}
body {
  overflow-x: scroll;
  background: #000;
}
h1 {
  font-family: 'bebas';
}
::placeholder {
  font-weight: lighter;
  color: #d0d0d0;
}
a {
  text-decoration: none;
}
.timeline {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 800px;
  margin-top: 160px;
  transform: skew(-10deg);
  padding-right: 300px;
  padding-left: 100px;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  background: #fff;
}
.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 0.32;
  filter: blur(15px);
}
.header {
  position: fixed;
  width: 100%;
  margin-top: -25px;
}
.signUp {
  width: 640px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: #fefefe;
  border-radius: 2px;
  font-family: 'Signika', sans-serif;
  font-weight: lighter;
}
.header__logo {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 140px;
  margin-top: 48px;
  margin-left: 45px;
  background: #ed1b2a;
  text-align: center;
  font-size: 16px;
  color: #fff;
  letter-spacing: -1px;
  vertical-align: middle;
}
.header__menu {
  display: inline-block;
  text-align: center;
}
.header__timeline {
  display: inline-block;
  width: 130px;
  height: 40px;
  margin-top: 48px;
  margin-left: 96px;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.header__timeline--active {
  border: 1px solid #fff;
}
.header__theories {
  display: inline-block;
  width: 130px;
  height: 40px;
  margin-top: 48px;
  margin-left: -5px;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.header__theories--active {
  border: 1px solid #fff;
}
.header__timeline a {
  display: inline-block;
  margin-top: 10px;
}
.header__timeline--active a {
  display: inline-block;
  margin-top: 10px;
}
.header__theories a {
  display: inline-block;
  margin-top: 10px;
}
.header__theories--active a {
  display: inline-block;
  margin-top: 10px;
}
.header__account {
  display: inline-block;
  float: right;
}
.header__disconnect {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-top: -15px;
  margin-right: 45px;
}
.header__profilePicture {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 48px;
  margin-right: 21px;
  border-radius: 50%;
  background: #ed1b2a;
}
.header__profileName {
  display: inline-block;
  width: 120px;
  height: 15px;
  margin-top: 48px;
  margin-right: 21px;
  text-align: center;
  color: #fff;
  vertical-align: top;
}
.header__profileName p {
  margin-top: 13px;
}
.signUp__title {
  margin-bottom: 30px;
  font-size: 43px;
  color: #4a4a4a;
  text-align: center;
}
.signUp__label {
  margin-top: 10px;
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
  color: #9b9b9b;
}
.signUp__input {
  width: 100%;
  height: 30px !important;
  padding-left: 5px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
.signUp__password {
  margin-right: 4%;
  float: left;
  width: 48%;
}
.signUp__confirmPassword {
  width: 48%;
  display: inline-block;
}
.signUp__error {
  padding-top: 2px;
  height: 20px;
  color: #ed1b2a;
}
.signUp__line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: #c3c3c3;
}
.signUp__avatar {
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 13px;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.signUp__avatar:nth-child(6) {
  margin-left: 60px;
}
.signUp__avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 300ms ease;
}
.signUp__radio:checked + .signUp__avatarImg {
  filter: grayscale(0%);
}
.signUp__button {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  background-color: #ed1b2a;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(237,27,42,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.signUp__button:hover {
  margin-bottom: -2px;
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.signUp__button:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.signIn__signUp {
  width: 640px;
  margin: 0 auto;
  font-family: 'Signika';
  font-weight: lighter;
}
.signIn__line {
  width: 44%;
  margin-top: 40px;
  float: left;
  display: inline-block;
  height: 1px;
  background-color: #c3c3c3;
}
.signIn__or {
  margin-top: 36px;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'bebas';
  float: left;
  color: #c3c3c3;
}
.signIn__signUp {
  margin-top: 0px;
}
.signIn__lines {
  width: 100%;
  height: 50px;
  display: inline-block;
}
.signUp__connexion {
  width: 150px;
  float: right;
  display: block;
  margin-top: 40px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  padding: 20px;
  border-radius: 30px;
  border: solid 1px #4a4a4a;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.signUp__connexion:hover {
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.signUp__connexion:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.timeline__dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  border-radius: 50%;
  margin-left: 125px;
  background: #ed1b2a;
}
.timeline__container {
  transform: skew(10deg);
  display: flex;
}
.timeline__poster {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 275px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
}
.timeline__poster--top {
  bottom: 40px;
}
.timeline__poster--bottom {
  margin-top: 40px;
}
.timeline__image--bottom {
  position: relative;
  bottom: -50px;
}
.timeline__bottomPoster {
  bottom: 0px;
  position: absolute;
}
.timeline__year {
  margin-top: 10px;
  width: 150px;
  text-align: center;
  color: #4a4a4a;
  font-size: 24px;
}
.timeline__redLine {
  position: absolute;
  left: 50%;
  width: 160px;
  height: 7px;
  margin-top: 4px;
  transform: translateX(-50%);
  background: #ed1b2a;
}
.timeline__firstRedLine {
  left: 0%;
  width: 75px;
  transform: translateX(5%);
  background: #ed1b2a;
}
.timeline__lastRedLine {
  left: 0;
  width: 75px;
  transform: translateX(-85%);
  background: #ed1b2a;
}
.timeline__preview {
  display: none;
}
.timeline__preview--active {
  position: absolute;
  width: 900px;
  height: 500px;
  left: 50%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
}
.timeline__image {
  float: left;
  margin-top: 3%;
  margin-left: 1.5%;
}
.timeline__text {
  display: inline-block;
  align-items: center;
}
.timeline__title {
  margin-top: 5%;
  margin-left: 325px;
  margin-right: 25%;
  font-size: 21px;
  color: #4a4a4a;
  line-height: 30px;
  font-weight: bold;
  vertical-align: top;
}
.timeline__popularity {
  margin-top: 1%;
  margin-left: 325px;
  font-size: 18px;
  color: #ed1b2a;
  line-height: 30px;
  font-weight: bold;
}
.timeline__subTitle {
  margin-top: 0.5%;
  margin-left: 325px;
  margin-right: 25%;
  font-size: 18px;
  color: #4a4a4a;
  line-height: 30px;
  font-weight: bold;
  vertical-align: top;
}
.timeline__overview {
  margin: 0.5% 2% 2% 325px;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 20px;
}
.timeline__seeTheories {
  display: inline-block;
  position: absolute;
  left: 80%;
  top: 80%;
  width: 115px;
  height: 50px;
  transform: skew(-10deg);
  background: #ed1b2a;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 22px;
  font-weight: bold;
}
.timeline__buttonText {
  margin-top: 3%;
  transform: skew(10deg);
}
.timeline__hover {
  display: inline-block;
  width: 100%;
  height: 100px;
  transform: scaleY(0);
  background: #fff;
  text-align: center;
}
.timeline__hover {
  transform: translateY(0px);
}
.timeline__hover--bottom {
  transform: translateY(-250px);
}
.timeline__hoverButton {
  display: inline-flex;
  width: 100px;
  height: 50px;
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #ed1b2a;
  color: #fff;
}
.timeline__hoverBackground {
  background: #fff;
}
.timeline__poster--bottom:hover .timeline__hover--bottom {
  transform: translateY(0px);
}
.timeline__poster--top:hover .timeline__hover--top {
  transform: translateY(-230px);
}
.signUp__radio--hidden {
  display: none;
}
