@font-face {
  font-family: "bebas";
  src: url("../../assets/fonts/BEBAS.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=color],
input[type=file],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=color] {
  width: 1em;
}
input::-ms-clear {
  display: none;
}
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
mark {
  background: none;
}
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
u {
  text-decoration: none;
}
table th {
  text-align: left;
}
a {
  color: inherit;
  outline: none;
}
body {
  overflow-x: scroll;
  background: #000;
}
::placeholder {
  font-weight: lighter;
  color: #d0d0d0;
}
a {
  text-decoration: none;
}
.timeline {
  display: inline-flex;
  align-items: center;
  width: auto;
  height: 90vh;
  min-height: 600px;
  margin-top: 80px;
  margin-left: -20px;
  transform: skew(-10deg);
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  background: #fff;
}
.background {
  position: fixed;
  z-index: -1;
  width: 100%;
  opacity: 0.32;
  filter: blur(15px);
}
.header {
  font-family: "bebas";
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0px;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header--default {
  width: 100%;
  height: 60px;
}
.signUp {
  width: 640px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: #fefefe;
  border-radius: 2px;
  font-family: 'Signika', sans-serif;
  font-weight: lighter;
}
.theoriesFlow {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
.theoryCreation {
  width: 1200px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-radius: 2px;
  background: #fff;
}
.article {
  width: 800px;
  padding: 20px 5px;
  margin: 20px auto;
  border-radius: 2px;
  background: #fff;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
  float: left;
  background: #ed1b2a;
  text-align: center;
  font-size: 16px;
  font-family: "bebas";
  color: #fff;
  letter-spacing: -1px;
}
.header__start {
  display: flex;
  justify-content: flex-start;
}
.header__end {
  display: flex;
  justify-content: flex-end;
}
.header__menu {
  width: 280px;
  margin-left: 96px;
  margin-right: 56px;
  display: inline-block;
  float: left;
  text-align: center;
}
.header__timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.header__timeline:hover {
  transform: scale(1.02);
}
.header__timeline:active {
  transform: scale(0.98);
}
.header__timeline--active {
  border: 1px solid #fff;
}
.header__theories {
  margin-left: 20px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  background-color: #ed1b2a;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.header__theories:hover {
  transform: scale(1.02);
}
.header__theories:active {
  transform: scale(0.98);
}
.header__addTheories {
  margin-right: 60px;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  background-color: #ed1b2a;
  color: #fff;
  font-size: 16px;
  vertical-align: middle;
}
.header__addTheories:hover {
  transform: scale(1.02);
}
.header__addTheories:active {
  transform: scale(0.98);
}
.header__theories--active {
  border: 1px solid #fff;
}
.header__icon {
  width: 21px;
  height: 21px;
}
.header__iconUse {
  fill: #fefefe;
}
.header__account {
  display: flex;
  align-items: center;
  margin-top: -6px;
}
.header__disconnect {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-top: -15px;
}
.header__profilePicture {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 21px;
  overflow: hidden;
  border-radius: 50%;
  background: #ed1b2a;
}
.header__profileName {
  display: inline-block;
  margin-right: 21px;
  color: #fff;
  vertical-align: top;
}
.header__profilePictureImg {
  width: 100%;
  height: 100%;
}
.signUp__title {
  margin-bottom: 30px;
  font-size: 43px;
  color: #4a4a4a;
  text-align: center;
  font-family: 'bebas';
}
.signUp__label {
  margin-top: 10px;
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
  color: #9b9b9b;
}
.signUp__input {
  width: 100%;
  height: 30px !important;
  padding-left: 5px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
.signUp__password {
  margin-right: 4%;
  float: left;
  width: 48%;
}
.signUp__confirmPassword {
  width: 48%;
  display: inline-block;
}
.signUp__error {
  font-family: 'Signika';
  padding-top: 2px;
  height: 20px;
  color: #ed1b2a;
}
.signUp__line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: #c3c3c3;
}
.signUp__avatar {
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 13px;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.signUp__avatar:nth-child(6) {
  margin-left: 60px;
}
.signUp__avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 300ms ease;
}
.signUp__radio:checked + .signUp__avatarImg {
  filter: grayscale(0%);
}
.signUp__button {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  background-color: #ed1b2a;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(237,27,42,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.signUp__button:hover {
  margin-bottom: -2px;
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.signUp__button:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.signIn__signUp {
  width: 640px;
  margin: 0 auto;
  font-family: 'Signika';
  font-weight: lighter;
}
.signIn__line {
  width: 44%;
  margin-top: 40px;
  float: left;
  display: inline-block;
  height: 1px;
  background-color: #c3c3c3;
}
.signIn__or {
  margin-top: 36px;
  margin-left: 4%;
  margin-right: 4%;
  font-family: 'bebas';
  float: left;
  color: #c3c3c3;
}
.signIn__signUp {
  margin-top: 0px;
}
.signIn__lines {
  width: 100%;
  height: 50px;
  display: inline-block;
}
.signUp__connexion {
  width: 150px;
  float: right;
  display: block;
  margin-top: 40px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  padding: 20px;
  border: solid 1px #4a4a4a;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.signUp__connexion:hover {
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.signUp__connexion:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.signIn {
  padding-top: 10px;
  color: #fff;
  width: 640px;
  margin: 0 auto;
}
.signIn__message {
  font-family: 'Signika';
  float: right;
}
.signIn__message p {
  color: #fefefe;
  float: left;
  margin-right: 10px;
}
.signIn__message a {
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #fefefe;
}
.timeline__dots {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  margin-left: 125px;
  border-radius: 50%;
  background: #ed1b2a;
}
.timeline__container {
  transform: skew(10deg);
  display: flex;
}
.timeline__poster {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 260px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  transition: transform 150ms ease, box-shadow 150ms ease;
  will-change: transform, box-shadow;
}
.timeline__poster--top {
  bottom: 40px;
}
.timeline__poster--bottom {
  margin-top: 40px;
}
.timeline__image--bottom {
  position: relative;
  bottom: -50px;
}
.timeline__bottomPoster {
  bottom: 0px;
  position: absolute;
}
.timeline__year {
  display: inline-table;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "bebas";
  text-align: center;
  color: #4a4a4a;
  font-size: 18px;
  transition: opacity 150ms ease;
  pointer-events: none;
}
.timeline__redLine {
  position: absolute;
  left: 50%;
  width: 160px;
  height: 7px;
  margin-top: 4px;
  transform: translateX(-50%);
  background: #ed1b2a;
}
.timeline__firstRedLine {
  left: 0%;
  width: 75px;
  transform: translateX(5%);
  background: #ed1b2a;
}
.timeline__lastRedLine {
  left: 0;
  width: 75px;
  transform: translateX(-85%);
  background: #ed1b2a;
}
.seeAllTheories {
  margin-left: 100px;
}
.timeline__preview {
  width: 900px;
  height: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  background: #fff;
  font-family: 'Signika';
  border-radius: 2px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  z-index: 10;
  transition: transform 400ms ease, opacity 400ms ease, visibility 400ms ease;
}
.timeline__firstPreview::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-952%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__secondPreview::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-502%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__thirdPreview::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-255%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__lastPreview::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(624%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__preview.--top.timeline__firstPreview::after {
  opacity: 0;
}
.timeline__preview.--bottom.timeline__secondPreview::after {
  opacity: 0;
}
.timeline__preview.--top.timeline__thirdPreview::after {
  opacity: 0;
}
.timeline__preview.--top.timeline__lastPreview::after {
  opacity: 0;
}
.timeline__preview.--top::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-52%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__preview.--bottom::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 40px;
  height: 40px;
  background-color: #fefefe;
  z-index: -10;
}
.timeline__preview--display {
  width: 900px;
  height: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  background: #fff;
  transform: translateY(-345px) translateX(-50%) scale(1);
  font-family: 'Signika';
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
  z-index: 10;
}
.timeline__preview--unDisplay.--top {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-350px) translateX(-50%) scale(0);
}
.timeline__preview--unDisplay.--bottom {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0px) translateX(-50%) scale(0);
}
.timeline__preview--display.--top {
  width: 900px;
  height: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  background: #fff;
  transform: translateY(-345px) translateX(-50%) scale(1);
  font-family: 'Signika';
  border-radius: 2px;
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.3);
  z-index: 10;
  transition: transform 150ms ease, opacity 150ms ease, visibility 150ms ease;
}
.timeline__preview--display.--bottom {
  width: 900px;
  height: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 1;
  visibility: visible;
  position: absolute;
  left: 50%;
  background: #fff;
  transform: translateY(40px) translateX(-50%) scale(1);
  font-family: 'Signika';
  border-radius: 2px;
  box-shadow: 0 -6px 20px 0 rgba(0,0,0,0.3);
  z-index: 10;
  transition: transform 150ms ease, opacity 150ms ease, visibility 150ms ease;
}
.timeline__preview--display.timeline__firstPreview.--top {
  transform: translateY(-345px) translateX(-10%) scale(1);
}
.timeline__preview--display.timeline__secondPreview.--bottom {
  transform: translateY(40px) translateX(-30%) scale(1);
}
.timeline__preview--display.timeline__thirdPreview.--top {
  transform: translateY(-345px) translateX(-41%) scale(1);
}
.timeline__preview--display.timeline__lastPreview.--top {
  transform: translateY(-345px) translateX(-80%) scale(1);
}
.timeline__image {
  height: 280px;
  float: left;
  margin-right: 20px;
}
.timeline__content {
  margin-left: 20px;
}
.timeline__text {
  display: inline-block;
  align-items: center;
}
.timeline__title {
  font-size: 21px;
  color: #4a4a4a;
  line-height: 30px;
  font-weight: bold;
  vertical-align: top;
}
.timeline__popularity {
  font-size: 18px;
  color: #ed1b2a;
  line-height: 30px;
  font-weight: bold;
}
.timeline__subTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: bold;
}
.timeline__overview {
  max-height: 80px;
  overflow: hidden;
  font-size: 16px;
  font-weight: lighter;
  color: #4a4a4a;
  line-height: 20px;
}
.timeline__hoverButton--absolute {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.timeline__hover {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  transform: scaleY(0);
  background: #fff;
  text-align: center;
  transition: transform 150ms ease;
}
.timeline__hover--bottom {
  transform: translateY(-154px);
}
.timeline__hover--top {
  transform: translateY(-4px);
}
.timeline__hoverButton--red {
  width: 130px;
  float: right;
  display: block;
  background-color: #ed1b2a;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: bebas;
  font-size: 15px;
  word-spacing: 2px;
  font-weight: bold;
  text-align: center;
  color: #fefefe;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.timeline__hoverButton--red:hover {
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.timeline__hoverButton--red:active {
  margin-bottom: 0px;
  background-color: #fefefe;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.timeline__hoverButton--white {
  width: 130px;
  float: right;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #4a4a4a;
  padding: 20px;
  border: solid 1px #4a4a4a;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.timeline__hoverButton--white:hover {
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.timeline__hoverButton--white:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.timeline__poster--bottom:hover .timeline__hover--bottom {
  transform: translateY(0px);
}
.timeline__poster--bottom:hover .timeline__year {
  opacity: 0;
}
.timeline__poster--top:hover .timeline__year {
  opacity: 0;
}
.timeline__poster--top:hover .timeline__hover--top {
  transform: translateY(-160px);
}
.timeline__poster:hover {
  transform: translateX(-50%) scale(1.1);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.theoriesFlow__container {
  align-items: center;
  width: 75%;
  min-width: 900px;
  margin: 20px auto;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 15px 0 rgba(0,0,0,0.3);
  background: #fff;
  color: #000;
  transition: transform 150ms ease;
  cursor: pointer;
}
.theoriesFlow__container:hover {
  transform: scale(1.02);
}
.theoriesFlow__container:active {
  transform: scale(0.99);
}
.theoriesFlow__user {
  display: flex;
  width: 40%;
  margin-bottom: 10px;
  align-items: center;
  text-align: left;
}
.theoriesFlow__userAvatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ed1b2a;
}
.theoriesFlow__userName {
  display: inline-block;
  margin-left: 2%;
  font-family: 'Signika';
  color: #4a4a4a;
  font-size: 18px;
}
.theoriesFlow__poster {
  height: 180px;
  float: left;
  margin-right: 20px;
}
.theoriesFlow__notes {
  margin-top: 37px;
}
.theoriesFlow__credibilityBar {
  margin-top: 5px;
  float: left;
  width: 200px;
  height: 20px;
  background: #f68e96;
}
.theoriesFlow__popularityBar {
  margin-top: 5px;
  width: 200px;
  height: 20px;
  background: #8ddfb3;
}
.theoriesFlow__popularity {
  display: inline-block;
  font-family: 'Signika';
  color: #41b628;
  font-size: 22px;
  text-align: left;
}
.theoriesFlow__popularityBarFill {
  width: 50%;
  height: 100%;
  background: #19bf65;
}
.theoriesFlow__credibility {
  margin-right: 10px;
  display: inline-block;
  width: 200px;
  font-family: 'Signika';
  color: #d11b28;
  font-size: 22px;
  text-align: left;
}
.theoriesFlow__credibilityBarFill {
  width: 50%;
  height: 100%;
  background: #ed1b2a;
}
.theoriesFlow__pageTitle {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  min-width: 900px;
  font-size: 56px;
  font-weight: bold;
}
.theoriesFlow__title {
  font-family: 'bebas';
  color: #4a4a4a;
  word-spacing: 6px;
  line-height: 48px;
  font-size: 38px;
  text-align: left;
}
.theoryCreation__poster {
  float: left;
  padding: 20px;
}
.theoryCreation__posterTitle {
  margin: 5px 20px;
  font-size: 22px;
  text-align: center;
  font-family: 'bebas';
}
.theoryCreation__chooseMovie {
  display: inline-block;
  width: 850px;
  height: 450px;
  margin-top: 20px;
  padding-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.theoryCreation__moviesPosterImg {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
}
.theoryCreation__moviesPosterImg {
  width: 120px;
}
.theoryCreation__moviesPosterImg {
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 300ms ease;
}
.theoryCreation__radio:checked + .theoryCreation__moviesPosterImg {
  filter: grayscale(0%);
}
.theoryCreation__input {
  width: 1000px;
  height: 30px !important;
  padding-left: 5px;
  margin-bottom: 40px;
  font-family: "Signika";
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
.theoryCreation__addText {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}
.theoryCreation__addTitleLabel {
  font-size: 30px;
  font-family: bebas;
  margin-bottom: 10px;
}
.theoryCreation__addTitle {
  display: block;
}
.theoryCreation__inputText {
  width: 1000px;
  height: 250px !important;
  padding-left: 5px;
  margin-bottom: 15px;
  font-family: "Signika";
  resize: none;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
.theoryCreation__deleteCross {
  float: right;
  height: 15px;
  width: 15px;
  transform: translateY(50%);
  cursor: pointer;
}
.theoryCreation__deleteCrossImg {
  height: 15px;
  width: 15px;
}
.theoryCreation__addParagraph {
  display: block;
  float: left;
}
.theoryCreation__addParagraphLabel {
  font-size: 18px;
  font-family: bebas;
  margin-bottom: 10px;
}
.theoryCreation__addButtons {
  text-align: center;
}
.theoryCreation__addButton {
  width: 160px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  word-spacing: 2px;
  color: #4a4a4a;
  padding: 20px;
  border: solid 1px #4a4a4a;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.theoryCreation__addButton:hover {
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.theoryCreation__addButton:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.theoryCreation__addButtonIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.theoryCreation__addButtonIconImg {
  width: 100%;
  height: 100%;
}
.theoryCreation__addButtonText {
  display: inline-block;
}

.article__header {
  margin-bottom: 200px;
}
.theoryCreation__send {
  float: none;
  margin: 0 auto;
  margin-top: 30px;
  width: 324px;
}
.article__headerImg {
  width: 300px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.article__headerTitle {
  padding-right: 20px;
  font-size: 48px;
  font-family: 'bebas';
  font-style: uppercase;
}
.article__author {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.article__authorAvatar {
  display: inline-block;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ed1b2a;
}
.article__authorName {
  font-family: 'Signika';
  font-weight: lighter;
  font-size: 22px;
}
.article__popularityBar {
  margin-top: 5px;
  width: 200px;
  height: 20px;
  background: #8ddfb3;
}
.article__popularity {
  display: inline-block;
  font-family: 'Signika';
  color: #41b628;
  font-size: 22px;
  text-align: left;
}
.article__popularityBarFill {
  width: 50%;
  height: 100%;
  background: #19bf65;
}
.article__credibilityBar {
  margin-top: 5px;
  float: left;
  width: 200px;
  height: 20px;
  background: #f68e96;
}
.article__credibility {
  margin-right: 10px;
  display: inline-block;
  width: 200px;
  font-family: 'Signika';
  color: #d11b28;
  font-size: 22px;
  text-align: left;
}
.article__credibilityBarFill {
  width: 50%;
  height: 100%;
  background: #ed1b2a;
}
.article__text {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 50px;
}
.article__textTitle {
  display: flex;
  justify-content: space-between;
  items-align: center;
  font-size: 22px;
  font-family: 'bebas';
  padding: 10px;
}
.article__textCore {
  display: inline-flex;
  items-align: center;
  font-size: 16px;
  font-family: 'signika';
  padding: 10px;
}
.articles__commentsIcon {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.article__commentsIconContainer {
  display: flex;
  position: relative;
  align-items: center;
}
.article__commentsIconContainer--top {
  float: right;
}
.article__userComments {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.article__userComments--active {
  opacity: 1;
  visibility: visible;
  width: 350px;
  height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  background: #fff;
  position: absolute;
  left: 40px;
  right: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.3);
}
.article__userCommentsAuthor {
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
}
.article__userCommentsAuthor--avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ed1b2a;
}
.article__userCommentsAuthor--avatarImg {
  width: 100%;
}
.article__userCommentsAuthor--name {
  font-size: 16px;
  font-family: 'bebas';
  display: inline-block;
  padding: 5px;
}
.article__userCommentsContent {
  font-size: 16px;
  font-family: 'signika';
  padding: 5px;
}
.signUp__radio--hidden {
  display: none;
}
