@font-face {
  font-family: "bebas";
  src: url("../../../assets/fonts/BEBAS.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em;
}
input[type=text],
input[type=reset],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
input[type=url],
input[type=time],
input[type=week],
input[type=month],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=number],
input[type=submit],
input[type=color],
input[type=file],
button,
textarea,
select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=color] {
  width: 1em;
}
input::-ms-clear {
  display: none;
}
details,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
mark {
  background: none;
}
*,
*::before,
*::after,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
hr {
  height: 1px;
  margin: 0;
  padding: 0;
}
u {
  text-decoration: none;
}
table th {
  text-align: left;
}
a {
  color: inherit;
  outline: none;
}
body {
  background: #808080;
}
h1 {
  font-family: 'bebas';
}
::placeholder {
  font-weight: lighter;
  color: #d0d0d0;
}
.signUp {
  width: 640px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  padding-bottom: 50px;
  background: #fefefe;
  border-radius: 2px;
  font-family: 'Signika', sans-serif;
  font-weight: lighter;
}
.signUp__title {
  margin-bottom: 30px;
  font-size: 43px;
  text-align: center;
}
.signUp__label {
  margin-top: 10px;
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
  color: #9b9b9b;
}
.signUp__input {
  width: 100%;
  height: 30px !important;
  padding-left: 5px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
}
.signUp__password {
  margin-right: 4%;
  float: left;
  width: 48%;
}
.signUp__confirmPassword {
  width: 48%;
  display: inline-block;
}
.signUp__error {
  padding-top: 2px;
  height: 20px;
  color: #ed1b2a;
}
.signUp__line {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: #c3c3c3;
}
.signUp__avatar {
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 13px;
  display: inline-block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.signUp__avatar:nth-child(6) {
  margin-left: 60px;
}
.signUp__avatarImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: filter 300ms ease;
}
.signUp__radio:checked + .signUp__avatarImg {
  filter: grayscale(0%);
}
.signUp__button {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
  font-family: bebas;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
  background-color: #ed1b2a;
  cursor: pointer;
  box-shadow: 0px 8px 20px rgba(237,27,42,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.signUp__button:hover {
  margin-bottom: -2px;
  background-color: #fff;
  border: solid 1px #ed1b2a;
  color: #ed1b2a;
  box-shadow: 0px 15px 15px 4px rgba(0,0,0,0.1);
  transform: translateY(-7px);
}
.signUp__button:active {
  margin-bottom: 0px;
  background-color: #ed1b2a;
  color: #fff;
  border: none;
  transform: translateY(0px);
  box-shadow: 0px 8px 20px rgba(57,151,214,0.1);
}
.signUp__radio--hidden {
  display: none;
}
